.example-spacer {
  flex: 1 1 auto;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 960px) {
  mat-toolbar {
      justify-content: space-between;
 }
  #menutoggler {
      display: none;
 }
}
@media screen and (max-width: 600px) {
  .collegelogos {
      display: none;
 }
  #logo {
      margin-left: 5%;
 }
}
.fa-facebook-official {
  color: #4267B2;
}
.fa {
  margin: 4px 20px;
  padding: 5px 0px;
}
.fa:hover {
  color: black;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-youtube-play {
  color: #ff0000;
}
.fa-instagram {
  background: -webkit-linear-gradient(top right, purple, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-instagram:hover {
  background: -webkit-linear-gradient(top right, black, black);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
