<section id="about" style="margin:auto;">
    <h1 class="mat-display-1" style="text-align:center;margin:0px;">About Us</h1>
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="align-items:stretch;">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutAlign="stretch">
            <mat-card>
                <mat-card-title>Our Mission</mat-card-title>
                <mat-card-content>Build an efficient single seater All terrain vehicle with an impeccable Design.
                    Continuous
                    Innovation, improvisation and
                    optimization To achieve our goals through assiduous work.</mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutAlign="stretch">
            <mat-card>
                <mat-card-title>Our Vision</mat-card-title>
                <mat-card-content> Compete with the best engineering minds nationally and
                    internationally. We believe ‘‘Manufacturing vehicles for all
                    terrain is much cheaper than building roads for rough terrains’’.<br />
                    To aver that we are the best team among the elites.</mat-card-content>
            </mat-card>
        </div>
    </div>
</section>