<section id="about" style="margin:auto;">
    <h1 class="mat-display-1" style="text-align:center;margin:0px;">About Us</h1>
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid" style="align-items:stretch;">
        <div *ngFor="let home_about of home_about" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%"
            fxLayoutAlign="stretch">
            <mat-card>
                <mat-card-title>{{home_about.title}}</mat-card-title>
                <mat-card-content>
                    <div *ngFor="let content of home_about.content">{{content}}</div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>