.rounded {
    border-radius:5px;
}
@media (min-width: 768px) {
    #home-press {
        width: 90%;
   }
}
@media (min-width: 992px) {
    #home-press {
        width: 80%;
   }
}
@media (min-width: 1200px) {
    #home-press {
        width: 70%;
   }
}
