<section id="home-press" style="margin:auto;padding-top:25px;">
    <h1 class="mat-display-1" style="text-align:center;margin:0px;padding-bottom:20px;">Press &amp; Media</h1>
    <div>
        <owl-carousel-o [options]="customOptionsHomeStories">
            <ng-template carouselSlide *ngFor="let home_stories of home_stories">
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">{{home_stories.title}}</mat-card-title> <a
                            href="{{home_stories.link}}" target="_blank" style="margin-left:auto;"> <span
                                class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{home_stories.content}}</p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div style="margin-top:10px;">
        <owl-carousel-o [options]="customOptionsHomePress">
            <ng-template carouselSlide *ngFor="let home_press of home_press">
                <img class="rounded" src="{{BASE_PATH+home_press.img}}">
            </ng-template>
        </owl-carousel-o>
    </div>
</section>