<section id="home-press" style="margin:auto;padding-top:25px;">
    <h1 class="mat-display-1" style="text-align:center;margin:0px;padding-bottom:20px;">Press &amp; Media</h1>
    <div>
        <owl-carousel-o [options]="customOptionsHomeStories">
            <ng-template carouselSlide>
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">Crank it!</mat-card-title> <a
                            href="https://carbiketech.com/redshift-racing-fights-hard-sasol-baja-2014/" target="_blank"
                            style="margin-left:auto;"> <span class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p> KJSCE-The “RAUDR II” recently participated in the Sasol Baja 2014 – a competition held in
                            South Africa & organised by Society of Automotive Engineers. </p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <ng-template carouselSlide>
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">Motoroids India</mat-card-title> <a
                            href="http://www.motoroids.com/news/team-red-shift-of-k-j-somaiya-college-of-engineering-showcases-their-atv-rauder/"
                            target="_blank" style="margin-left:auto;"> <span class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p> At the SASOL BAJA 2014, the it was the only Indian team amongst all other colleges to
                            represent India in the competition held in South Africa. </p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <ng-template carouselSlide>
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">Car Trade</mat-card-title> <a
                            href="https://www.cartrade.com/news/india-s-all-terrain-car-outshines-in-sasol-baja-south-africa-challenge-2014-126211.html"
                            target="_blank" style="margin-left:auto;"> <span class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p> This time around 25 brilliant student minds from KJ Somaiya
                            college have built an All-terrain vehicle that shall represent
                            India at the Sasol BAJA SAC 2014.</p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <ng-template carouselSlide>
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">Pocket News</mat-card-title> <a
                            href="https://www.pocketnewsalert.com/search/label/KJ%20Somaiya%20College%20of%20Engineering?max-results=5"
                            target="_blank" style="margin-left:auto;"> <span class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p> After consistently performing for 9 years,the students of KJ
                            Somaiya College of Engg unveiled their new prototype "RIGEL". </p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
            <ng-template carouselSlide>
                <mat-card style="margin:5px;">
                    <mat-card-header style="margin-left:0;">
                        <mat-card-title style="margin:0;">Solarnews</mat-card-title> <a
                            href="http://www.solarisimages.com/image_details.php?id=253989" target="_blank"
                            style="margin-left:auto;"> <span class="material-icons"> launch </span> </a>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Team Redshift of K J Somaiya College of Engineering
                            demonstrates the All Terrain Vehicle Raudr 2 in Mumbai, India
                            on March 19, 2015. </p>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div style="margin-top:10px;">
        <owl-carousel-o [options]="customOptionsHomePress">
            <ng-template carouselSlide> <img class="rounded" src="../../../assets/images/press/press1.jpeg">
            </ng-template>
            <ng-template carouselSlide> <img class="rounded" src="../../../assets/images/press/press2.jpeg">
            </ng-template>
            <ng-template carouselSlide> <img class="rounded" src="../../../assets/images/press/press3.jpeg">
            </ng-template>
            <ng-template carouselSlide> <img class="rounded" src="../../../assets/images/press/press4.jpeg">
            </ng-template>
            <ng-template carouselSlide> <img class="rounded" src="../../../assets/images/press/press5.jpeg">
            </ng-template>
        </owl-carousel-o>
    </div>
</section>