<section id="home-gallery" style="margin:auto;padding-top:25px;">
    <div class="page-header" style="text-align:center;">
        <h1 class="mat-display-1" style="text-align:center;margin:0px;padding-bottom:0px;">Journey So Far</h1>
    </div>
    <br />
    <ul class="timeline">
        <ng-container *ngFor="let home_timeline of home_timeline">
            <li class="{{home_timeline.timeline_inverted}}">
                <div class="timeline-badge primary">
                    <a><i class="fa fa-circle {{home_timeline.tooltip_inverted}}" rel="tooltip"></i></a>
                </div>
                <mat-card class="timeline-panel">
                    <div class="timeline-heading">
                        <img class="img-fluid" src="{{BASE_PATH+home_timeline.img}}" />
                    </div>
                    <mat-card-content class="timeline-body" style="padding:15px;">
                        <b style="text-align:center;"><u>{{home_timeline.title}}</u></b><br />
                        <ng-container *ngIf="home_timeline.competitions||home_timeline.competitions?.length > 0">
                            <b>Competitions</b><br />
                            <div *ngFor="let competitions of home_timeline.competitions">
                                {{"&#9679; "+competitions}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="home_timeline.achievements||home_timeline.achievements?.length > 0">
                            <b>Achievements</b><br />
                            <div *ngFor="let achievements of home_timeline.achievements">
                                {{"&#9679; "+achievements}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="home_timeline.tech_highlights||home_timeline.tech_highlights?.length > 0">
                            <b>Technical Highlights</b><br />
                            <div *ngFor="let tech_highlights of home_timeline.tech_highlights">
                                {{"&#9679; "+tech_highlights}}
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </li>
        </ng-container>
        <li class="clearfix" style="float: none;"></li>
    </ul>
</section>