<section id="home-updates" style="margin:auto;padding:20px 0px;">
    <h1 class="mat-display-1" style="text-align:center;margin:0px;padding-bottom:20px;">Updates</h1>
    <div class="content" style="justify-content:center;" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" fxLayoutAlign="stretch"
            *ngFor="let home_updates of home_updates">
            <mat-card>
                <img mat-card-image src="{{BASE_PATH+home_updates.img}}">
                <mat-card-content>
                    {{home_updates.content}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>