<div style="width:100%;text-align:center;">
    <p style="margin:5px;">Follow us</p>
    <p style="margin:5px;">
        <a href="https://www.facebook.com/redshiftracing.kjsce"><i class="fa fa-facebook-official fa-lg fa-2x"></i></a>
        <a href="https://twitter.com/redshiftracing "><i class="fa fa-twitter fa-lg fa-2x"></i></a>
        <a href="https://www.youtube.com/user/redshiftracing "><i class="fa fa-youtube-play fa-lg fa-2x"></i></a>
        <a href="https://www.instagram.com/redshift_racing/ "><i class="fa fa-instagram fa-lg fa-2x"></i></a>
    </p>
    <p style="margin:5px;"><img src="../../../assets/images/rsr-logo.jpg" style="max-height:40px;"></p>
    <p style="margin:5px;">&copy; Redshift Racing Racing 2019-20</p>
</div>